* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --purple: #b42bc1;
    --darkpurple: #47064d;
    --lightpurple: #d15adc;
    --correct: #51db32;
    --incorrect: #ba3432;
  }
h1, h2, h3 {
    margin-bottom: 2%;
}
body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    text-align: center;
}
main {
    justify-content: left;
    width: 80%;
    padding: 20px;
    margin-left: 20px;
    flex-direction: column;
}
aside {
    justify-content: right;
    padding: 20px;
    width: 20%;
    background-color: aliceblue;
}
button {
    width: 40%;
    height: 50px;
    margin: 2% 2%;
    background-image: linear-gradient(5deg, var(--purple), var(--darkpurple));
    /* background-color: var(--purple); */
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
    filter: saturate(160%);
    box-shadow: 2px 3px 6px darkslategray;
}

#start-btn, #refresh-btn {
    width: auto;
    height: auto;
    font-size: 20px;
    padding: 15px;
    font-size: 20px;
}

/* #questions1, #questions2,  button {
    display: flex;
    flex-direction: column;
} */

.hidden {
    display: none;
}

.show {
    display: contents;
}